.div_wishcartHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0.02;
}

.carth__div{
    display: flex;
    position: relative;
}

.cartspan__length{
    position: absolute;
    top: 9px;
    left: 11px;
    font-size: 0.9rem;
}