.carousel__item{
    height: 3.563rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
}

.p__sliderHtitle{
    font-size: 1rem;
}

.a_sliderHinfo{
    color: #6b6b6b;
    font-size: 0.8rem;
}