.filter__listbody {
    width: 13rem;
    height: 100vh;
    display: flex;
    flex-grow: 0.05;
    flex-direction: column;
    position: sticky;
    top: 0;
    margin-right: 5rem;
}

.div__sportfilter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 0.2rem;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: black;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  

.div__genderfilter {
    height: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.button__gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.div__genderoptions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div__pricefilter {
    height: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.div__priceoptions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.div__offersfilter {
    height: 20%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
}

.button__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.div__offeroption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}