.singleproduct__divbody{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.wrapper__singleproduct{
    max-width: 90rem;
    display: flex;
}

.singleproduct__images{
    width: calc(100% - 456px);
}

.img__singleproduct{
    width: 27.125rem;
    height: 33.875rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
}



.singleproduct__productinfo{
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
}

.singleproduct__productinfo span:nth-child(1){
    font-size: 1.75rem;
    margin-bottom: 0.3rem;
}

.singleproduct__productinfo span:nth-child(2){
    margin-bottom: 1rem;
}

.sizesdiv__singleproduct{
    margin-top: 2rem;
}

.size__textdiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.size__textdiv span:nth-child(2){
    color: rgb(151, 151, 151);
    cursor: pointer;
}

.sizeselector__div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
}

.divsize__singleproduct{
    border: 1px solid rgb(226, 226, 226);
    width: 7.688rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0.5rem;
    cursor: pointer;
}

.divsize__singleproduct:hover{
    border: 1px solid black;
}

.buttonsdiv__singleproduct{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
}

.button__singleproduct{
    height: 3.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid rgb(131, 131, 131);
    cursor: pointer;
}

.addtocart{
    background-color: black;
    color: white;
}
